@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;

main {
  padding-top: 6.3rem;

  .left {
    text-align: center;

    & img {
      height: auto;
      width: 100%;
    }

    @include breakpoint(lg) {
      text-align: left;
      width: 50%;
    }
  }

  & .right {
    padding-top: 6.5rem;
    text-align: center;

    h1 {
      font-weight: 600;
      padding-bottom: 2rem;

      @include breakpoint(lg) {
       font-size: 4rem;
      }
    }

    p {
      font-family: $default-font-family;
      line-height: 1.6;
      padding-bottom: 2.5rem;
    }

    @include breakpoint(lg) {
      margin-left: 4rem;
      padding-top: 3rem;
      text-align: left;
      width: 50%;
    }

    @include breakpoint(xl) {
      margin-left: 6rem;
      //padding-left: 1rem;
    }
  }

  @include breakpoint(lg) {
    display: flex;
  }
}