@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.btn {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  color: $violet;
  cursor: pointer;
  padding: 1.1rem 7.7rem;
  transition: all 0.4s ease;

  &:hover {
    color: #fff;
    background-color: $soft-magenta;
    border: 1px solid $soft-magenta;
    transform: translateY(-1px);
  }

  @include breakpoint(lg) {
    padding: 1.6rem 7.7rem;
  }
}